.socialmedia {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 40%;
}

.socialmedia img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: 0.2s;
  color: #fff;
  background-color: #fff;
  box-shadow: 1px 1px 2px gray;
}

.socialmedia img:hover {
  transform: scale(1.2);
  background-color: var(--text-details);
}

