@media screen and (max-width: 1000px) {

  header {
    position: relative;
    max-width: 1500px;
    padding: 0 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 0 auto;

    background-color: var(--header-mb-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
  }
}