<section class="home">
  <div class="presentation">
    <p class="hello">Olá!</p>
    <strong>Me chamo <span>Eric</span>, <br /> muito prazer!</strong>
    <p>Sou desenvovledor Fullstack buscando conhecimento constante para construir todas as camadas de uma aplicação, por conta disso mexo no Front-end e Back-end. 
    </p>
    <app-social-media></app-social-media>
  </div>

  <div class="portifolio">
    <img class="portifolio-images" src="/assets/portifolio/portifolio-home2.png" alt="Portifolio">
    <p>Dê uma olhada nos <br/> meus projetos <br />
      <a [routerLink]="['/projects']">
        <img class="icon-image" src="/assets/icons/arrow-down.png" alt="baixo">
      </a>
    </p>
  </div>
</section>