<section class="home">
  <div class="presentation">
    <p class="hello">Olá!</p>
    <strong>Me chamo <span>Eric</span>, muito prazer!</strong>
    <p class="subtitle">Sou Fullstack developer</p>
    <p>
      Tenho um enorme gosto em atuar nas duas camadas da aplicação,
      criando API's e layouts para web. 
    </p>
    <app-social-media></app-social-media>
  </div>

  <div class="portifolio">
    <img class="portifolio-images" src="/assets/portifolio/portifolio-home2.png" alt="Portifolio">
    <p>Dê uma olhada nos <br/> meus projetos <br />
      <a [routerLink]="['/projects']">
        <img class="icon-image" src="/assets/icons/arrow-down.png" alt="baixo">
      </a>
    </p>
  </div>
</section>