<section class="aboutme">
  <header>
    <h2>Sobre mim</h2>
    <img src="assets/eu.jpg" alt="">
  </header>
  <section>

    <div class="card">
      <input type="checkbox" id="dev">
      <div class="card-title">
        <label for="dev">Desenvolvedor</label>
      </div>
      <div class="card-content">
        <ul>
          <li>
            <strong>Back-end</strong>
            <p></p>
          </li>
          <li>
            <strong>Front-end</strong>
            <p></p>
          </li>
        </ul>
      </div>
    </div>

  </section>
</section>