<div class="aboutme">
  <header>
    <h2>Sobre mim</h2>
    <img src="assets/eu.jpg" alt="eu">
  </header>

  <section>

    <div class="card">
      <input type="checkbox" id="dev" checked>
      <div class="card-title">
        <label for="dev">
          <img src="/assets/icons/arrow-down-about.svg" alt="Arrow down">
          Desenvolvedor
        </label>
      </div>
      <div class="card-content">
        <ul>
          <li>
            <div class="circle"></div>
            <strong>Back-end</strong>
            <p>
              Como back-end eu atuo principalmente com Java e NodeJS, com foco na construção de API's RESTFULL. Com Java, utilizo bastante nos meus projetos o framework
              Spring e claro todas as suas ramificações como Spring Data, Cache, Security entre outros. Já com NodeJS, o principal framework que utilizo é o Express.
            </p>
          </li>
          <li>
            <div class="circle"></div>
            <strong>Front-end</strong>
            <p>
              Como front-end eu tenho prazer de utilizar em meus projetos ReactJS e Angular, além é claro do Javascript Vanilla que é a raiz de tudo. Tenho diversos projetos 
              com esses frameworks/libs. Na parte de estilização com CSS, também utilizo diversos frameworks como Bootstrap, Styled Components, Chakra UI, Tailwind CSS e Sass.
            </p>
          </li>
          <li>
            <div class="circle"></div>
            <strong>Databases</strong>
            <p>
              Na questão de Bancos de Dados, já utilizei em estudos/projetos os seguintes: Relacionais (SQL) - MySQL, PostgreSQL, SQL Server e Não Relacionais (NoSQL) - Firebase e MongoDB.
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <input type="checkbox" id="grad">
      <div class="card-title">
        <label for="grad">
          <img src="/assets/icons/arrow-down-about.svg" alt="Arrow down">
          Formações
        </label>
      </div>
      <div class="card-content">
        <ul>
          <li>
            <div class="circle"></div>
            <strong>Análise e Desenvolvimento de Sistemas</strong>
            <p>
              Graduação | Ano de formação: 1º semestre de 2022
            </p>
          </li>
          <li>
            <div class="circle"></div>
            <strong>Gestão Financeira</strong>
            <p>
              Graduação | Ano de formação: 2º semestre de 2020
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <input type="checkbox" id="exp">
      <div class="card-title">
        <label for="exp">
          <img src="/assets/icons/arrow-down-about.svg" alt="Arrow down">
          Experiências Profissionais
        </label>
      </div>
      <div class="card-content">
        <ul>
          <li>
            <div class="circle"></div>
            <strong>Financeiro</strong>
            <p>
              Durante minha permanência no Exército Brasileiro, trabalhei em diversas funções relacionadas ao finaneiro, que me trouxeram grandes experiências na área. 
              Atuei como Chefe do Setor Financeiro, Chefe do Setor de Aquisições, Licitações e Contratos e Chefe do Setor de Material, todas essa funções exercidas no 
              Depósito Central de Munição.
            </p>
          </li>
          <li>
            <div class="circle"></div>
            <strong>Logística</strong>
            <p>
              Na parte de lógística, tive o prazer de trabalhar diretamente com a munição estratégica do Exército Brasileiro, gerenciando as atividades de armazenamento e conservação 
              dos mais variados tipos de munição. Meu principal cargo foi o de Comandante da Companhia Depósito de Munição, também no Depósito Central de Munição.
            </p>
          </li>
        </ul>
      </div>
    </div>

  </section>
</div>