@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
  --bg-color: #1C1C21;
  --bg-secondary: #26262C;
  --text-color: #f8f7ff;
  --text-details: #2d6a4f;
  --shadow-color: #131316;
  --header-mb-color: #1A1A1F;

  --font-size-1: 60px;
  --font-size-2: 30px;
  --font-size-3: 20px;
  --font-size-4: 18px;
  --font-size-5: 16px;
}

:root .lightTheme {
  --bg-color: #F8F9FA;
  --bg-secondary: #E9ECEF;
  --text-color: #1C1C21;
  --text-details: #2d6a4f;
  --shadow-color: lightgray;
  --header-mb-color: #E9ECEF;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

a {
  color: var(--text-color);
}


html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
  border-radius: 10px;
  transition: 0.2s;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}