@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --bg-color: #1C1C21;
  --text-color: #f8f7ff;
}

:root .lightTheme {
  --bg-color: #f0efeb;
  --text-color: #1C1C21;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}
