<nav class="navbar">
  <div class="menu-hamburger">
    <div class="bar">
    </div>
  </div>
  
  <ul class="nav-desktop">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['/projects']" routerLinkActive="active">Projetos</a></li>
    <li><a [routerLink]="['/aboutme']" routerLinkActive="active">Sobre mim</a></li>
    <li><a href="https://lopesnotes.vercel.app/" target="_blank">Blog</a></li>
    <li>
      <input type="checkbox" id="btnControl"/>
      <label (click)="theme()" class="theme-button" for="btnControl">
        <div id="circle" class="circle"></div>
      </label>
    </li>
  </ul>

  <ul class="nav-mobile">
    <li class="container-theme-button">
      <input type="checkbox" id="btnControlMobile"/>
      <label (click)="theme()" class="theme-button" for="btnControlMobile">
        <div id="circle-mobile" class="circle"></div>
      </label>
    </li>

    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['/projects']" routerLinkActive="active">Projetos</a></li>
    <li><a [routerLink]="['/aboutme']" routerLinkActive="active">Sobre mim</a></li>
    <li><a href="https://lopesnotes.vercel.app/" target="_blank">Blog</a></li>

  </ul>
</nav>