.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar ul li {
  margin-right: 30px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul a {
  padding: 20px 0 20px 0;
  text-decoration: none;
  color: #f8f7ff;
}

a.active::after {
  content: '';
  padding: 20px 0 0 0;
  width: 100%;
  display: block;
  border-bottom: 3px solid #2d6a4f;
  border-radius: 2px;

  animation-name: nav-active;
  animation-duration: 1s;
}

@keyframes nav-active {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/*

.navbar ul a.active {
  border-bottom: 3px solid #2d6a4f;
  border-radius: 2px;
}

.active {
  animation-name: component-transition;
  animation-duration: 1s;
}

@keyframes component-transition {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
} 
*/